<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shownest.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_shownest"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shownest.android.activity.Activity_main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_login" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_regist" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_publish_yezhu" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_forget" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_test" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_change_pwd" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_change_phone" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_select_role" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_basicinfo" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_setinfo_yezhu" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_my_center" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_setinfo_shigongdui" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_setinfo_shejishi" >
        </activity>
        <activity android:name="com.shownest.android.activity.Activity_setinfo_jianli" >
        </activity>
    </application>

</manifest>