<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shownest.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_shownest"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shownest.android.activity.Activity_main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_login"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_regist"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_publish_yezhu"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_forget"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_test"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_change_pwd"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_change_phone"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_select_role"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_basicinfo"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_setinfo_yezhu"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_my_center"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_setinfo_shigongdui"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_setinfo_shejishi"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_setinfo_jianli"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_location"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_offer_auto"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_quotation_detail"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_quotation_change"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_publish"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_bid_detail"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_addhouse"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_AH_bid"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_toubiao_shejishi"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_quota_list"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_webview"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
        <activity
            android:name="com.shownest.android.activity.Activity_my_bid_yezhu"
            android:theme="@style/ActivityTheme_notitle" >
        </activity>
    </application>

</manifest>